@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* colors */
  --background: #ffffff;
  --foreground: #171717;

  --pallet-one-primary: #000000;
  --pallet-one-secondary: #323232;
  --pallet-one-tertiary: #FF1E56;
  --pallet-one-quaternary: #FFAC41;

  --pallet-two-primary: #1e1f20;
  --pallet-two-secondary: #414244;
  --pallet-two-tertiary: #FD7014;
  --pallet-two-quaternary: #EEEEEE;

  --pallet-three-primary: #222831;
  --pallet-three-secondary: #2D4059;
  --pallet-three-tertiary: #FF5722;
  --pallet-three-quaternary: #EEEEEE;

  --yellow-primary: #FFD700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e1f20;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--pallet-two-secondary);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--pallet-two-tertiary); 
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}